.container {
  margin: 0 0 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  text-align: start;
  background-color: #aaaaaa;
  z-index: 0;
}

.container-background {
  box-sizing: border-box;
  filter: blur(3px);
  height: 10rem;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: background-color 500ms, filter 500ms, opacity 500ms;
  background-color: transparent;
}

@keyframes focusOut {
  0% {
    filter: blur(0);
    opacity: 1;
    background-color: #dfdfdf;
  }
  100% {
    filter: blur(3px);
    opacity: 0.5;
    background-color: transparent;
  }
}

@keyframes focusIn {
  0% {
    filter: blur(3px);
    background-color: transparent;
  }
  100% {
    filter: blur(0);
    opacity: 1;
    background-color: #dfdfdf;
  }
}

.container:hover > .container-background {
  filter: blur(0);
  opacity: 1;
  background-color: #dfdfdf;
  animation: focusIn 300ms;
}

.text {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 2;
}

.container:hover > .text {
  width: calc(100% - 4rem);
}

.container:hover {
  cursor: pointer;
}
