.container {
  margin: 0.25rem 0 0.25rem 0;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  width: 100%;
  max-width: 14rem;
  border-radius: 5px;
  background-color: #999999;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.container:hover {
  background-color: #dfdfdf;
  cursor: pointer;
}
