.container {
  margin: auto;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.image {
  width: auto;
  height: auto;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.image-in {
  z-index: 1;
  animation: fadeInUp 300ms;
  opacity: 1;
}

.image-out {
  animation: fadeOut 200ms;
  opacity: 0;
  z-index: 0;
}

@keyframes fadeInUp {
  0% {
    filter: blur(2rem);
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
  }
  50% {
    filter: blur(2rem);
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    filter: blur(0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    filter: blur(2rem);
    transform: translate3d(0, -3rem, 0);
    opacity: 0;
  }
}
