.container {
  //transition: all 0.3s ease-in-out;
  animation: fadeInUpwards 300ms;
  opacity: 1;
  top: 0;
  position: relative;
}

@keyframes fadeInUpwards {
  0% {
    top: 8rem;
    filter: blur(8rem);
    transform: translate3d(0, 3rem, 0);
    opacity: 0;
  }
  100% {
    top: 0;
    filter: blur(0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
