.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 6.5rem);
  position: relative;
  animation: fadeIn 400ms ease-out, enterUp 500ms ease-out;
}

@keyframes enterUp {
  0% {
    top: 1.5rem;
  }
  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
