.container {
  background-color: #bbbbbb;
  height: calc(100% - 6.5rem);
}

.content {
  overflow: scroll;
  padding: 0.5rem 0.5rem 6rem 0.5rem;
  // TODO: reference this for scroll related animation https://css-tricks.com/books/greatest-css-tricks/scroll-animation/
  //noinspection CssInvalidPropertyValue
  //-webkit-mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) calc(50% + 10rem), rgba(0, 0, 0, 0));
  //mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) calc(50% + 10rem), rgba(0, 0, 0, 0));
}

.title {
  font-size: 1.25rem;
  align-self: center;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
