.container {
  margin: 0 0 1rem 0;
  padding: 0 0 0.5rem 0;
  display: flex;
  align-items: center;
  > Button {
    margin-left: 1rem;
    height: 2.5rem;
    color: #aaaaaa;
  }
  border-bottom: 1px solid #6f6f6f;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 6px rgba(255,255,255,0.25);
}
