@use '../../../../styles/base-animations.scss';

.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.abilities .badge {
  margin: 0.125rem;
}

.name {
  font-family: Flexo-Bold, sans-serif;
}

.primary-image {
  width: 96px;
  height: 96px;
}

.message {
  align-self: center;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.detail {
}

.abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 0.125rem;
}

.primary-image {
  width: 96px;
  height: 96px;
  > img {
    animation: fadeIn 300ms;
    opacity: 1;
  }
}
