.container {
  width: 14rem;
  min-height: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  animation: fadeIn 300ms;
  background-color: #aaaaaa;
  cursor: pointer;
  padding: 0 0 1rem 0;
}

.rolloverEffect {
  background-color: #dfdfdf;
}

.rolloverEffect:hover {
  transition: all 0.15s ease-out;
  transform: scale(1.075);
  background-color: #ffffff;
}
