/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.container {
  background-color: #bbbbbb;
}

.connector {
  border: solid 1px #000000;
  position: absolute;
  background-color: #666666;
}
