@use '../../../styles/base-animations.scss';

.container {
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  background-color: #aaaaaa;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  border-bottom: #999999 solid 1px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

$colorLight: 180;
$colorDark: 150;

.previous:hover,
.next:hover {
  background: #999999 linear-gradient(90deg, rgba($colorDark, $colorDark, $colorDark, 0) 0%, rgba($colorDark, $colorDark, $colorDark, 0) 100%);
  color: #ffffff;
  cursor: pointer;
  transition: ease-in 0.1s;
}

.increment {
  margin: 0.5rem 0 0 0;
  width: 4rem;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777777;
}

.previous {
  background: transparent linear-gradient(90deg, rgba($colorLight,$colorLight,$colorLight,1) 0%, rgba($colorLight,$colorLight,$colorLight,0) 100%);
  transition: ease-out 0.25s;
}

.next {
  background: transparent linear-gradient(270deg, rgba($colorLight,$colorLight,$colorLight,1) 0%, rgba($colorLight,$colorLight,$colorLight,0) 100%);
  transition: ease-out 0.25s;
}

.detail-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.detail-message {
  margin: 0.5rem 0 0.5rem 0;
}

.detail-abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 0.125rem;
  font-size: 1.5rem;
}

.primary-image {
  box-sizing: content-box;
  margin: 0 0 2rem 0;
  height: 512px;
}
