@use '../../../styles/base-animations.scss';

.container {
  width: 16rem;
  margin: 0 1rem 1rem 0;
  padding: 0.5rem;
  background-color: #aaaaaa;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  align-self: center;
  border-bottom: #999999 solid 1px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize;
}

.detail-summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.detail-abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.badge {
  margin: 0.125rem;
  font-size: 1.5rem;
}

.primary-image {
  box-sizing: content-box;
  margin: 0 0 2rem 0;
  > img[data-lazy-src] {
    opacity: 0;
  }
  > img {
    animation: fadeIn 300ms;
    opacity: 1;
  }
}
