.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 6.5rem);
  max-height: calc(100vh - 6.5rem);
  position: relative;
  animation: fadeIn 500ms ease-out, enterUp 200ms ease-in-out;
  transform-origin: top center;
}

