.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 6.5rem);
  max-height: calc(100vh - 6.5rem);
  position: relative;
  animation: fadeIn 500ms ease-out, enterUp 200ms ease-in-out;
  transform-origin: top center;
}

@keyframes enterUp {
  0% {
    top: 1.5rem;
    padding-bottom: 10rem;
  }
  100% {
    top: 0;
    padding-bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.exit {
  animation: fadeOut 200ms ease-in, exitDown 200ms ease-in;
  opacity: 0;
  top: 1.5rem;
  padding-bottom: 10rem;
}

@keyframes exitDown {
  0% {
    top: 0;
    padding-bottom: 0;
  }
  100% {
    top: 1.5rem;
    padding-bottom: 10rem;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
