.container {
  background-color: #999999;
  padding: 0.5rem;
}

.title {
  font-size: 1.5rem;
  align-self: center;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
