.container {
  margin: 0 0 1rem 0;
  min-width: 14rem;
  min-height: 16rem;
  max-height: 40rem;
  overflow-y: scroll;
  text-align: center;
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image:  linear-gradient(180deg, rgba(0, 0, 0, 1) calc(50% + 3rem), rgba(0, 0, 0, 0));
  mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1) calc(50% + 3rem), rgba(0, 0, 0, 0));
  animation: fadeIn 500ms;
}

.title {
  font-size: 1.25rem;
  align-self: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
