.container {
  margin: 0 0 0 0;
  min-width: 14rem;
  min-height: 16rem;
  overflow-y: scroll;
  text-align: center;
  animation: fadeIn 500ms;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.historyItems {
  border-color: #666666;
  background: rgb(170, 170, 170, 0.25);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-grow: 1;
  overflow: scroll;
}

.title {
  font-size: 1.25rem;
  align-self: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
