.container {
  flex-grow: 1;
  display: flex;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #aaaaaa;
  animation: fadeIn 1000ms ease-out;
}

.title {
  font-size: 1.5rem;
  align-self: center;
  margin: 0 0 0.5rem 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
