@use 'bootstrap/dist/css/bootstrap.min.css';
@use 'styles/base-animations.scss';

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@font-face {
  font-family: 'Flexo-Thin';
  src: url('./assets/fonts/285B7A_0_0.woff') format('woff');
}

@font-face {
  font-family: 'Flexo-Regular';
  src: url('./assets/fonts/285B7A_1_0.woff') format('woff');
}

@font-face {
  font-family: 'Flexo-Medium';
  src: url('./assets/fonts/285B7A_2_0.woff') format('woff');
}

@font-face {
  font-family: 'Flexo-Light';
  src: url('./assets/fonts/285B7A_3_0.woff') format('woff');
}

@font-face {
  font-family: 'Flexo-Demi';
  src: url('./assets/fonts/285B7A_4_0.woff') format('woff');
}

@font-face {
  font-family: 'Flexo-Bold';
  src: url('./assets/fonts/285B7A_5_0.woff') format('woff');
}

body {
  background: linear-gradient(135deg, rgba(150,150,150,1) 0%, rgba(100,100,100,0.8) 75%, rgba(125,125,125,0.3) 100%);
  font-family: Flexo-Regular, Roboto, sans-serif;
  height: 100%;
}

html {
  background-color: #888888;
  background-position: top -150px right 20px;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/originals/43/ed/d5/43edd5aa5f0de7f410f5e38326f4b94c.png");
}
